body, html{
    height: 100%;
    width: 100%;
}
.linha {
    display: flex;
    flex-direction: row;
}
main{
    display: flex;
    flex-direction: column;
    height: 92.5%;
    align-items: center;
    background-color: #8CF9A6;
}
ul{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.botao{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.2rem;
    font-family: 'EB Garamond', serif;
    width: 70%;
}

/* ELEMENTOS DO HEADER*/
nav{
    justify-content: center;
    background-color: #FA5A80;
    font-family: 'Poppins', sans-serif;
}
#logo{
    position: absolute;
    top:0;
    left: 0;
}
h1{
    margin: 0.5rem;
    font-size: 2rem;
}
li{
    width: 100%;
    justify-content: center;
}